html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
}

button:disabled {
  opacity: 0.5;
}

nav {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 3px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
  user-select: none;
}

nav a {
  color: #fff;
}

a:hover {
  text-decoration: none;
  color: white;
}
a:hover li {
  text-decoration: none;
  font-size: 15px;
}

button {
  background-color: #006400;
  color: white;
  border: none;
  font-size: 24px;
}

*:focus {
  outline: none;
}

li span {
  float: right;
  color: #006400;
  transition: all 0.3s;
  opacity: 0;
  font-size: initial;
}
li span:hover {
  color: red;
}
.customer-form {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 1rem;
}

#collapse-icon {
  color: #fff;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255);
}

.nav-search {
  position: relative;
  padding: 1rem 15px;
  margin-right: -15px;
  margin-left: -15px;
}
.links {
  overflow: hidden;
}

.mh-100vh {
  min-height: 100vh;
}
.col {
  padding-right: 0;
  padding-left: 0;
}

.side-nav-section {
  color: #006400;
  font-size: 12px;
  padding: 1rem;
}

.side-nav-section ul {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.side-nav-section h6 {
  font-weight: 500;
  font-size: 16px;
}
.top-nav {
  min-height: 2rem;
  background-color: #006400;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05),
    inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.side-nav {
  background-color: white;
  padding-left: 0;
  padding-right: 0;
}

.side-nav .nav-item {
  color: #006400;
}

.nav-item.active {
  font-size: 18px;
  font-weight: 500;
  color: #006400;
}

.nav-item-text {
  display: inherit;
  margin-left: 10px;
  align-items: center;
}
.btn {
  background-color: #006400;
  border-color: #006400;
}

.nav.btn {
  background-color: #fff;
  border-color: #fff;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #006500;
  border-color: #006500;
}
.MainContentContainer {
  height: 100vh;
}

.new-todo-input {
  padding: 10px;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
}
.new-todo-form {
  border: none;
}
.todo-list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
.todo {
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
.todo:hover {
  background: rgba(0, 0, 0, 0.02);
  cursor: pointer;
}
.todo:hover span {
  opacity: 1;
}
.completed {
  text-decoration: line-through;
  color: #bdc3c7;
}

#login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#login-block p,
#login-block a {
  color: #006400;
}
#login-block h2 {
  font-size: 2rem;
}

#bg-block {
  background-image: url("../src/img/gbr-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#icon-section {
  margin-left: 3rem;
}
@media (max-width: 768px) {
  .navbar-mobile {
    font-size: 0.65rem;
  }
  #side-nav-reg {
    display: none;
  }
  #side-nav-drawer {
    display: block;
  }
}

@media (min-width: 768px) {
  .top-nav {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  .side-nav {
    position: -webkit-sticky;
    position: sticky;
    top: 4rem;
    z-index: 0;
    height: calc(100vh - 4rem);
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    max-width: 250px;
    margin-left: 0px;
    transition: all 0.3s;
  }

  .side-nav.collapsed {
    margin-left: -250px;
  }

  .links {
    display: block !important;
  }
}

@media (max-width: 576px) {
  #icon-section {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  #login-block {
    opacity: 0.95;
  }
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50%;
  }
}
