html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #006400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
}

button:disabled {
  opacity: 0.5;
}

nav,
a {
  color: #fff;
}
nav {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: gray;
}

.navHeader {
  text-align: center;
  padding: 16px;
  background-color: #006400;
  border-bottom: 1px solid #fff;
}
.navHeaderImgDiv {
  display: inline;
}
#navHeaderImg {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-style: none;
}
.navHeaderText {
  padding-left: 6px;
  padding-top: 6px;
  font-size: 12px;
  color: #fff;
}
#navHeaderTitle {
  font-size: 11px;
}

.navSection {
  box-sizing: border-box;
}

.navItem {
  color: #fff;
  padding: 8px 12px;
  background: #006400;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

/* .navItem.active {
  background-color: #006400;
  color: #fff;
}
.navItem.hover {
  background-color: #006400;
  color: #fff;
} */

.navItemText {
  display: inline-flex;
  margin-left: 10px;
}
.navItemIcon {
  display: inline-flex;
}

.btn {
  margin-top: 10px;
  background-color: #006400;
  border-color: #006400;
}

.btn:hover,
.btn:active,
.btn:focus {
  background-color: #006500;
  border-color: #006500;
}

.mh-100vh {
  min-height: 100vh;
}

#login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#login-block p,
#login-block a {
  color: #006400;
}
#login-block h2 {
  font-size: 2rem;
}

#bg-block {
  background-image: url("../src/img/gbr-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#sideNav {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100vh;
  font-family: "Roboto";
  min-width: 250px;
  max-width: 250px;
  border-right: #006400 1px solid;
  background-color: #006400;
  transition: all 0.3s;
  padding-top: 0.5rem;
  position: sticky;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

#sideNav.collapsed {
  min-width: 80px;
  max-width: 80px;
  transition: all 0.3s;
}

#sideNav.collapsed .navItem {
  justify-content: center;
}

#sideNav.collapsed .navItemText {
  display: none;
}

@media (max-width: 991.98px) {
  #login-block {
    opacity: 0.95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50%;
  }
}
