html {
  font-size: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: #006400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  text-align: left;
}

button:disabled {
  opacity: 0.5;
}

nav,
a {
  color: #fff;
}
nav {
  font-size: 14px;
  padding-left: 0;
  margin-bottom: 0;
  border-radius: 3px;
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: white;
}
a:hover li {
  text-decoration: none;
  font-size: 15px;
}

button {
  background-color: #006400;
  color: white;
  border: none;
  font-size: 24px;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

.mh-100vh {
  min-height: 100vh;
}

.col-md {
  padding: 0;
}
.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}
.navbar {
  padding: 0;
}
.navbar-expand {
  flex-flow: wrap;
}

.navHeader {
  text-align: center;
  background-color: #006400;
  border-bottom: 1px solid #fff;
  flex: 0 1;
  padding-bottom: 16px;
}
.navHeaderImgDiv {
  display: inline;
}
#navHeaderImg {
  border-radius: 30px;
  width: 40px;
  height: 40px;
  vertical-align: middle;
  border-style: none;
}
.navHeaderText {
  padding-top: 6px;
  font-size: 12px;
  color: #fff;
}
#navHeaderName {
  font-size: 14px;
}
#navHeaderTitle {
  font-size: 12px;
}

.navSection {
  box-sizing: border-box;
  flex: 1 1;
}

.navItem {
  padding: 8px 12px;
  display: inline-flex;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

.navItem.active {
  background-color: #fff;
  color: #006400;
}

.navItemText {
  display: inherit;
  margin-left: 10px;
  align-items: center;
}
.btn {
  margin-top: 10px;
  background-color: #006400;
  border-color: #006400;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #006500;
  border-color: #006500;
}

#login-block {
  -webkit-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 45px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

#login-block p,
#login-block a {
  color: #006400;
}
#login-block h2 {
  font-size: 2rem;
}

#bg-block {
  background-image: url("../src/img/gbr-bg.jpg");
  background-size: cover;
  background-position: center center;
}

#sideNav {
  align-items: stretch;
  flex-direction: column;
  min-width: 160px;
  max-width: 160px;
  font-family: "Roboto";
  background-color: #006400;
  transition: all 0.3s;
  padding-top: 0.5rem;
  position: sticky;
  height: 100vh;
}

#sideNav.collapsed {
  min-width: 80px;
  max-width: 80px;
}

#sideNav.collapsed .navItem {
  justify-content: center;
  flex-wrap: wrap;
}

#sideNav.collapsed .navItemText {
  margin: 0;
}

#icon-section {
  margin-left: 3rem;
}

@media (max-width: 768px) {
  #sideNav {
    min-width: 80px;
    max-width: 80px;
    margin-left: -80px;
  }
  #sideNav.collapsed {
    margin-left: 0;
  }
  #sideNav .navItem {
    justify-content: center;
    flex-wrap: wrap;
  }
  #sideNav .navItemText {
    margin: 0;
  }
}

@media (max-width: 576px) {
  #icon-section {
    margin-left: 0;
  }
}

@media (max-width: 991.98px) {
  #login-block {
    opacity: 0.95;
  }
}

@media (max-width: 991.98px) {
  #bg-block {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75%;
  }
}

@media (min-width: 992px) {
  .rounded-lg-0 {
    border-radius: 0 !important;
  }
}

@media (min-width: 1200px) {
  .w-xl-50 {
    width: 50%;
  }
}
