@media only screen and (max-width: 1400px) {
	.navBar-sizing {
		font-size: 14px !important;
	}
}
@media only screen and (min-width: 1400px) {
	.navBar-sizing {
		font-size: 16px !important;
	}
}

button#account {
	background-color: white !important;
}

.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show > .nav-link {
	color: darkgreen !important;
}
